@use "../base/variables" as *;

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 50;
    border: none;
    background-color: var(--color-secondary);
    cursor: pointer;
    padding: $unit-1;
    border-radius: $border-radius;
}
