@use "../base/variables" as *;

* {
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

html {
    // scroll-behavior: smooth;
}

#app {
    background-color: var(--background-color);
    // gaps in column layout
    display: flex;
    flex-flow: column nowrap;
    gap: $unit-4;
    padding-bottom: $unit-4;
    min-height: 100vh;
}

@media screen and (max-width: 700px) {
    #app {
        gap: $unit-3;
    }
  }